<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rasmus.p2app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".frontend.ui.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".frontend.ui.misc.LoadingScreenActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name=".frontend.ui.settings.SettingsActivity" />
        <activity android:name=".frontend.ui.homeScreenPages.MainActivity" />
        <activity android:name=".frontend.ui.recipePages.PickMealActivity" />
        <activity android:name=".frontend.ui.recipePages.PickRecipeActivity" />
        <activity android:name=".frontend.ui.recipePages.RecipeInfoAcitivty" />
        <activity android:name=".frontend.ui.recipePages.RecipeClickedActivity" />
        <activity android:name=".frontend.ui.settings.GoalActivity" />
        <activity android:name=".frontend.ui.login.RegisterActivity" />
        <activity android:name=".frontend.ui.recipePages.SearchActivity" />
        <activity android:name=".frontend.ui.settings.PrefActivity" />
    </application>

</manifest>